@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F5F9;
  --background-accent-1:#E1E4EA;
  --background-accent-2:#F2F2F2;
  --primary:#E54065;
  --neutral-light: #CFD2DC;
  --neutral-medium: #636363;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F5F9;
  }
}

html,body {
  color: var(--neutral-medium);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
